.switch {
	--switch-height: 1em;
	--switch-width: 1.75em;
	--switch-border-color: transparent;

	--thumb-travel: calc(var(--switch-width) - var(--switch-height));
	--thumb-size: calc(
		var(--switch-height) -
		var(--dtcg-ed-form-control-border-width) *
		2
	);
	--thumb-border-color: transparent;

	font: inherit;
	font-size: var(--dtcg-ed-form-control-font-size, var(--dtcg-ed-text-base));
	padding: 0;
	cursor: pointer;
	height: var(--switch-height);
	width: var(--switch-width);
	border: var(--dtcg-ed-form-control-border-width) var(--dtcg-ed-border-style)
		var(--switch-border-color);
	border-radius: var(--dtcg-ed-radius-full);
	background-color: var(--dtcg-ed-color-surface-lowest);
	box-shadow: var(--dtcg-ed-shadow-xs);
	transition: background-color var(--dtcg-ed-transition-normal)
		var(--dtcg-ed-ease-in-out);
	outline-style: none;
}

.switch:focus-visible {
	box-shadow: 0 0 0 3px
		color-mix(in oklab, var(--dtcg-ed-color-neutral-400) 25%, transparent);
	border-color: var(--dtcg-ed-color-neutral-400);
}

.switch[data-state="checked"] {
	background-color: var(--dtcg-ed-form-control-activated-color);
	border-color: var(--dtcg-ed-form-control-activated-color);
}

.switch[data-state="checked"]:focus-visible {
	box-shadow: 0 0 0 3px
		color-mix(
			in oklab,
			var(--dtcg-ed-form-control-activated-color) 25%,
			transparent
		);
}

.switch:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.switch-thumb {
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	height: var(--thumb-size);
	width: var(--thumb-size);
	border-radius: var(--dtcg-ed-radius-full);
	border: var(--dtcg-ed-form-control-border-width) var(--dtcg-ed-border-style)
		var(--thumb-border-color);
	background-color: var(--dtcg-ed-color-surface-default);
	transition: transform var(--dtcg-ed-transition-normal)
		var(--dtcg-ed-ease-in-out);
}

.switch-thumb[data-state="checked"] {
	transform: translateX(var(--thumb-travel));
}
