.alert {
	position: relative;
	background-color: var(
		--dtcg-ed-color-fill-normal,
		var(--dtcg-ed-color-neutral-fill-normal)
	);
	color: var(--dtcg-ed-color-on-normal, var(--dtcg-ed-color-neutral-on-normal));
	border: var(--dtcg-ed-border-width-thin) var(--dtcg-ed-border-style)
		var(
			--dtcg-ed-color-border-normal,
			var(--dtcg-ed-color-neutral-border-normal)
		);
	padding-inline: var(--dtcg-ed-space-sm);
	padding-block: var(--dtcg-ed-space-xs);
	border-radius: var(--dtcg-ed-panel-radius);
	box-shadow: var(--dtcg-ed-shadow-xs);
}

.alert:has(svg) {
	display: grid;
	grid-template-columns: 1rem 1fr;
	row-gap: var(--dtcg-ed-space-3xs);
	column-gap: var(--dtcg-ed-space-xs);
}

.alert .button {
	grid-column: var(--alert-action-col-start, 3);
}

.alert svg {
	justify-self: center;
	align-self: center;
}

.alert .alert-title {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	grid-column-start: var(--alert-title-col-start, 2);
	font-weight: var(--dtcg-ed-font-weight-medium);
	letter-spacing: var(--dtcg-ed-tracking-tight);
}

.alert .alert-description {
	grid-column-start: var(--alert-description-col-start, 2);
}
