.swatch {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid var(--dtcg-ed-color-neutral-border-normal);
	border-radius: 0.25rem;
	vertical-align: middle;
}

.picker {
	display: inline-block;
	width: 2rem;
	height: 1.5rem;
	border: 1px solid var(--dtcg-ed-color-neutral-border-normal);
	border-radius: 0.25rem;
	padding: 0;
	vertical-align: middle;
	margin-right: 0.5rem;
}

.labelText {
	font-size: 0.7rem;
	opacity: 0.6;
}

.componentRow {
	display: inline-flex;
	align-items: center;
	gap: 0.25rem;
}

.colorIssues {
	width: 100%;
	color: var(--dtcg-ed-color-error-on-normal);
	font-size: 0.7rem;
	margin: 0;
	padding-left: 1rem;
}
