.swatch {
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--swatch-color);
	border: var(--dtcg-ed-border-width-thin) solid
		var(--dtcg-ed-color-neutral-border-normal);
	border-radius: var(--dtcg-ed-radius-md);
	vertical-align: middle;
}

.picker {
	display: inline-block;
	width: 2rem;
	height: 1.5rem;
	border: var(--dtcg-ed-border-width-thin) solid
		var(--dtcg-ed-color-neutral-border-normal);
	border-radius: var(--dtcg-ed-radius-md);
	padding: 0;
	vertical-align: middle;
	margin-right: var(--dtcg-ed-space-2xs);
}

.labelText {
	font-size: var(--dtcg-ed-text-xs);
	opacity: 0.6;
}

.componentRow {
	display: inline-flex;
	align-items: center;
	gap: var(--dtcg-ed-space-3xs);
}

.colorIssues {
	width: 100%;
	color: var(--dtcg-ed-color-error-on-normal);
	font-size: var(--dtcg-ed-text-xs);
	margin: 0;
	padding-left: var(--dtcg-ed-space-sm);
}
