@import "@dtcg-editor/design-system/styles/tokens.css";
@import "@dtcg-editor/design-system/styles/global/global.css";
@import "@dtcg-editor/design-system/styles/utilities/region.css";
@import "@dtcg-editor/design-system/styles/utilities/visually-hidden.css";

html,
body {
	max-width: var(--dtcg-ed-wrapper-max-width);
	overflow-x: hidden;
}

body {
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}
