.card {
	--inner-border-radius: calc(
		var(--dtcg-ed-panel-radius) -
		var(--dtcg-ed-panel-border-width)
	);
	position: relative;
	background-color: var(--dtcg-ed-color-surface-raised);
	border: var(--dtcg-ed-panel-border-width) var(--dtcg-ed-panel-border-style)
		var(--dtcg-ed-panel-border-color);
	border-radius: var(--dtcg-ed-panel-radius);
	box-shadow: var(--dtcg-ed-shadow-xs);
}

.card-header {
	display: flex;
	flex-direction: column;
	gap: var(--dtcg-ed-space-2xs);
	padding-block-start: var(--dtcg-ed-space-md);
	padding-inline: var(--dtcg-ed-space-md);
}

.card-media {
	display: flex;
	overflow: hidden;
	border-start-start-radius: var(--inner-border-radius);
	border-start-end-radius: var(--inner-border-radius);
}

.card-content {
	padding-block: var(--dtcg-ed-space-md);
	padding-inline: var(--dtcg-ed-space-md);
}

.card-footer {
	padding-block-end: var(--dtcg-ed-space-md);
	padding-inline: var(--dtcg-ed-space-md);
}
