.avatar {
	--avatar-size: var(--dtcg-ed-size-step-6);
	position: relative;
	display: flex;
	flex-shrink: 0;
	overflow: hidden;
	height: var(--avatar-size);
	width: var(--avatar-size);
	border-radius: var(--dtcg-ed-radius-full);
}

.avatar-image {
	aspect-ratio: 1;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.avatar-fallback {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: var(
		--dtcg-ed-color-fill-normal,
		var(--dtcg-ed-color-neutral-fill-normal)
	);
	border-radius: var(--dtcg-ed-radius-full);
}
