.warning {
	display: inline-flex;
	align-items: baseline;
	gap: var(--dtcg-ed-space-3xs-2xs);
	color: var(--dtcg-ed-color-error-on-normal);
}

.label {
	font-weight: var(--dtcg-ed-font-weight-semibold);
}

.path {
	font-family: var(--dtcg-ed-font-mono);
}
