[data-slot="popover-trigger"] svg {
	pointer-events: none;
	color: var(--dtcg-ed-color-text-quiet);
}

.popover-content {
	outline: none;
	min-width: fit-content;
	background-color: var(--dtcg-ed-color-surface-raised);
	transform-origin: var(--radix-popover-content-transform-origin);
	border-width: var(--dtcg-ed-panel-border-width);
	border-style: var(--dtcg-ed-panel-border-style);
	border-color: var(--dtcg-ed-panel-border-color);
	border-radius: var(--dtcg-ed-panel-radius);
	padding-inline: var(--dtcg-ed-space-md);
	padding-block: var(--dtcg-ed-space-md);
	box-shadow: var(--dtcg-ed-shadow-xs);
}

.popover-content:has(.command) {
	padding: 0;
}

.popover-content[data-state="open"] {
	animation: popover-slide-in-from-top var(--dtcg-ed-transition-normal)
		var(--dtcg-ed-ease-out);
}

.popover-content[data-side="bottom"] {
	animation: popover-slide-in-from-top var(--dtcg-ed-transition-normal)
		var(--dtcg-ed-ease-out);
}

.popover-content[data-side="left"] {
	animation: popover-slide-in-from-right var(--dtcg-ed-transition-normal)
		var(--dtcg-ed-ease-out);
}

.popover-content[data-side="right"] {
	animation: popover-slide-in-from-left var(--dtcg-ed-transition-normal)
		var(--dtcg-ed-ease-out);
}

.popover-content[data-side="top"] {
	animation: popover-slide-in-from-bottom var(--dtcg-ed-transition-normal)
		var(--dtcg-ed-ease-out);
}

@keyframes popover-slide-in-from-top {
	from {
		opacity: 0;
		transform: translateY(-8px) scale(0.95);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes popover-slide-in-from-bottom {
	from {
		opacity: 0;
		transform: translateY(8px) scale(0.95);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes popover-slide-in-from-left {
	from {
		opacity: 0;
		transform: translateX(-8px) scale(0.95);
	}
	to {
		opacity: 1;
		transform: translateX(0) scale(1);
	}
}

@keyframes popover-slide-in-from-right {
	from {
		opacity: 0;
		transform: translateX(8px) scale(0.95);
	}
	to {
		opacity: 1;
		transform: translateX(0) scale(1);
	}
}
