.button {
	--_padding-block: var(--dtcg-ed-space-2xs);
	--_padding-inline: var(--dtcg-ed-space-xs);
	--_form-control-height: round(
		calc(2 * var(--_padding-block) + 1em * 1.25),
		1px
	);

	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
	font: inherit;
	font-size: var(--dtcg-ed-form-control-font-size, var(--dtcg-ed-text-base));
	padding-block: 0;
	border-color: transparent;
	background-color: var(
		--dtcg-ed-color-fill-loud,
		var(--dtcg-ed-color-neutral-fill-loud)
	);
	border-radius: var(--dtcg-ed-form-control-radius);
	border-style: var(--dtcg-ed-border-style);
	border-width: var(--dtcg-ed-form-control-border-width);
	color: var(--dtcg-ed-color-on-loud, var(--dtcg-ed-color-neutral-on-normal));
	font-weight: var(--dtcg-ed-font-weight-medium);
	gap: var(--dtcg-ed-space-2xs);
	min-height: var(--_form-control-height);
	padding-inline: var(--_padding-inline);
	transition-property: color, background-color, border-color, box-shadow;
	transition-timing-function: var(--dtcg-ed-ease-out);
	transition-duration: var(--dtcg-ed-transition-normal);
}

.button:hover {
	background-color: color-mix(
		in oklab,
		var(--dtcg-ed-color-fill-loud, var(--dtcg-ed-color-neutral-fill-loud)),
		var(--color-mix-hover, black 5%)
	);
}

.button:active {
	background-color: color-mix(
		in oklab,
		var(--dtcg-ed-color-fill-loud, var(--dtcg-ed-color-neutral-fill-loud)),
		var(--color-mix-active, black 10%)
	);
}

.button:focus-visible {
	box-shadow: 0 0 0 var(--dtcg-ed-focus-ring-width)
		color-mix(in oklab, var(--dtcg-ed-color-fill-loud) 25%, transparent);
	outline: none;
	border-color: var(--dtcg-ed-color-fill-loud);
}

.button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
