.checkbox {
	--checked-icon-color: var(--dtcg-ed-color-accent-on-loud);

	font: inherit;
	font-size: var(--dtcg-ed-form-control-font-size, var(--dtcg-ed-text-base));
	appearance: none;
	margin: 0;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	width: var(--dtcg-ed-form-control-toggle-size);
	height: var(--dtcg-ed-form-control-toggle-size);

	background-color: var(--dtcg-ed-color-surface-lowest);
	border: var(--dtcg-ed-form-control-border-width)
		var(--dtcg-ed-form-control-border-style)
		var(--dtcg-ed-form-control-border-color);
	border-radius: min(0.4em, var(--dtcg-ed-radius-md));
	box-shadow: var(--dtcg-ed-shadow-xs);
	outline-style: none;
	transition-property: border-color, box-shadow;
	transition-timing-function: var(--dtcg-ed-ease-out);
	transition-duration: var(--dtcg-ed-transition-normal);
}

.checkbox[data-state="checked"] {
	background-color: var(--dtcg-ed-form-control-activated-color);
	border-color: var(--dtcg-ed-form-control-activated-color);
}

.checkbox[data-state="checked"]:focus-visible {
	box-shadow: 0 0 0 var(--dtcg-ed-focus-ring-width)
		color-mix(
			in oklab,
			var(--dtcg-ed-form-control-activated-color) 40%,
			transparent
		);
	border-color: var(--dtcg-ed-form-control-activated-color);
}

.checkbox:focus-visible {
	box-shadow: 0 0 0 var(--dtcg-ed-focus-ring-width)
		color-mix(in oklab, var(--dtcg-ed-color-neutral-400) 25%, transparent);
	border-color: var(--dtcg-ed-color-neutral-400);
}

.checkbox:disabled,
.checkbox:disabled + .label {
	cursor: not-allowed;
	opacity: 0.5;
}

.checkbox .checkbox-indicator {
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkbox .checkbox-indicator svg {
	color: var(--checked-icon-color);
	stroke-width: 3;
}
