.tabs-list {
	--_padding-block: var(--dtcg-ed-space-2xs);
	--_padding-inline: var(--dtcg-ed-space-xs);
	--_form-control-height: round(
		calc(2 * var(--_padding-block) + 1em * 1.25),
		1px
	);
	--_tabs-list-padding: var(--dtcg-ed-space-3xs);

	display: inline-flex;
	background-color: var(--dtcg-ed-color-surface-lowered);
	padding: var(--_tabs-list-padding);
	border-radius: var(--dtcg-ed-radius-lg);
	min-height: var(--_form-control-height);
}

.tabs-trigger {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
	font-size: inherit;
	padding-block: 0;
	background-color: var(--dtcg-ed-color-surface-lowered);
	border-width: var(--dtcg-ed-border-width-thin);
	border-style: var(--dtcg-ed-border-style);
	border-color: transparent;
	border-radius: var(--dtcg-ed-radius-md);
	color: var(--dtcg-ed-color-text-normal);
	font-weight: var(--dtcg-ed-font-weight-medium);
	gap: var(--dtcg-ed-space-2xs);
	padding-inline: var(--_padding-inline);
	transition-property: color, background-color, border-color, box-shadow;
	transition-timing-function: var(--dtcg-ed-ease-out);
	transition-duration: var(--dtcg-ed-transition-normal);
	outline-style: none;
}

.tabs-trigger[data-state="active"] {
	background-color: var(--dtcg-ed-color-surface-default);
	box-shadow: var(--dtcg-ed-shadow-sm);
}

.tabs-trigger:focus-visible {
	box-shadow: 0 0 0 var(--dtcg-ed-focus-ring-width)
		color-mix(in oklab, var(--dtcg-ed-color-neutral-400) 25%, transparent);
	border-color: var(--dtcg-ed-color-neutral-400);
	z-index: var(--dtcg-ed-z-raised);
}

.tabs-trigger:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.tabs-panel {
	outline-style: none;
}

.tabs-panel[data-state="inactive"] {
	display: none;
}
