.accordion-item {
	border-block-end: var(--dtcg-ed-border-width-thin) var(--dtcg-ed-border-style)
		var(--dtcg-ed-color-surface-border);
}

.accordion-item:last-child {
	border-block-end: 0;
}

.accordion-header {
	display: flex;
}

.accordion-trigger {
	border: 0;
	padding-inline: 0;
	display: flex;
	flex: 1;
	align-items: flex-start;
	justify-content: space-between;
	text-align: left;
	background: var(--dtcg-ed-color-surface-default);
	color: var(--dtcg-ed-color-text-normal);
	gap: var(--dtcg-ed-space-md);
	padding-block: var(--dtcg-ed-space-md);
	font-size: var(--dtcg-ed-text-base);
	font-weight: var(--dtcg-ed-font-weight-medium);
	line-height: var(--dtcg-ed-leading-tight);
	outline-style: none;
	border-radius: var(--dtcg-ed-form-control-radius);
}

.accordion-trigger:focus-visible {
	box-shadow: 0 0 0 3px
		color-mix(in oklab, var(--dtcg-ed-color-neutral-400) 25%, transparent);
	border-color: var(--dtcg-ed-color-neutral-400);
	z-index: var(--dtcg-ed-z-raised);
}

.accordion-trigger svg {
	color: var(--dtcg-ed-color-text-quiet);
	transition: transform var(--dtcg-ed-transition-normal);
}

.accordion-trigger:hover {
	text-decoration: underline;
}

.accordion-trigger[data-state="open"] svg {
	transform: rotate(180deg);
}

.accordion-content {
	overflow: hidden;
	text-wrap: pretty;
}

.accordion-content[data-state="closed"] {
	animation: accordion-up var(--dtcg-ed-transition-normal)
		var(--dtcg-ed-ease-out);
}

.accordion-content[data-state="open"] {
	animation: accordion-down var(--dtcg-ed-transition-normal)
		var(--dtcg-ed-ease-out);
}

.accordion-content-inner {
	padding-block-end: var(--dtcg-ed-space-md);
}

.accordion-content-inner > * + * {
	margin-block-start: var(--dtcg-ed-space-sm);
}

@keyframes accordion-down {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes accordion-up {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}
