.radio-toggle {
	--checked-icon-color: var(
		--color-accent-fill-loud,
		var(--dtcg-ed-color-neutral-fill-loud)
	);
	--checked-icon-scale: 0.6;

	flex-shrink: 0;
	font-size: var(--dtcg-ed-form-control-font-size, var(--dtcg-ed-text-base));
	background: transparent;
	border: var(--dtcg-ed-form-control-border-width) var(--dtcg-ed-border-style)
		var(--dtcg-ed-form-control-border-color);

	width: 1.1em;
	height: 1.1em;
	padding: 0.15em;

	border-radius: var(--dtcg-ed-radius-full);
	box-shadow: var(--dtcg-ed-shadow-xs);
	outline-style: none;
	transition-property: border-color, box-shadow;
	transition-timing-function: var(--dtcg-ed-ease-out);
	transition-duration: var(--dtcg-ed-transition-normal);
}

.radio-toggle[data-state="checked"] {
	border-color: var(
		--color-accent-border-normal,
		var(--dtcg-ed-form-control-border-color)
	);
}

.radio-toggle[data-state="checked"]:focus-visible {
	box-shadow: 0 0 0 3px
		color-mix(
			in oklab,
			var(--dtcg-ed-form-control-activated-color) 40%,
			transparent
		);
	border-color: var(--dtcg-ed-form-control-activated-color);
}

.radio-toggle:focus-visible {
	box-shadow: 0 0 0 3px
		color-mix(in oklab, var(--dtcg-ed-color-neutral-400) 25%, transparent);
	border-color: var(--dtcg-ed-color-neutral-400);
}

.radio-toggle[disabled] + .label,
.radio-toggle[disabled] ~ .label {
	opacity: 0.5;
	cursor: not-allowed;
}

.radio-toggle-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: var(
		--dtcg-ed-color-accent-fill-loud,
		var(--dtcg-ed-color-neutral-fill-loud)
	);
	scale: var(--checked-icon-scale);
}

.radio-toggle-icon svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: var(
		--dtcg-ed-color-accent-fill-loud,
		var(--dtcg-ed-color-neutral-fill-loud)
	);
	stroke: var(
		--dtcg-ed-color-accent-fill-loud,
		var(--dtcg-ed-color-neutral-fill-loud)
	);
}
